# tests
tests/fixtures/out.txt
tests/fixtures/out-e2e.txt

# Node.js
node_modules/

# TypeScript
dist/

# IDE specific
.vscode/

# Debug logs
debug.log

# Server logs
server.log

# MacOS
.DS_Store

# Editors
*.swp
*~

# Python virtual environment
my_venv/

# Build directories
build/

# Test coverage
coverage/
